body{
    background-color: black;
}

footer{
    background-color: #343a40;
}

form{
    margin: 2rem;
    max-width: 20rem;
}

.card{
    display: inline-block;
    margin: 0.5rem;
}

.col{
    text-align: center;
}